<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
</head>
<body>
    <h1>Registrar Usuario</h1>
    <form action="/register" method="POST">
        <label for="name">Nombre Completo:</label>
        <input type="text" name="name" required><br><br>
        
        <label for="phone_number">Número de Teléfono:</label>
        <input type="text" name="phone_number" required><br><br>
        
        <label for="card_number">Número de Tarjeta:</label>
        <input type="text" name="card_number" required><br><br>
        
        <input type="submit" value="Registrar">
    </form>
</body>
</html> -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Usuario</title>
</head>
<body>
    <h1>Registrar Usuario</h1>
    <form action="/register" method="POST">
        <label for="name">Nombre Completo:</label>
        <input type="text" name="name" required><br><br>
        
        <label for="phone_number">Número de Teléfono:</label>
        <input type="text" name="phone_number" required><br><br>
        
        <label for="card_number">Número de Tarjeta:</label>
        <input type="text" name="card_number" required><br><br>
        
        <label for="password">Contraseña:</label>
        <input type="password" name="password" required><br><br>
        
        <input type="submit" value="Registrar">
    </form>
</body>
</html>
